---
import { cn } from "@/lib/utils";

const { className, delay = 0, duration = 1 } = Astro.props;
---

<div style={{ animationDelay: `${delay}s`, animationDuration: `${duration}s` }} class={cn(`animate-blur-fade-in`, className)}>
    <slot />
</div>
